/*Stili generali*/

body{
    margin: 0;
    padding: 0;
}

/*Stili sito*/

.headLine{
    display: flex;
    background-color: black;
    justify-content: center;
    width: 100%;
}
.stilePaNavbar{
    font-size: 40px;
}
.Pbg-darkGradient{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(29, 29, 29));
}
.colonneLaterali{
    background: linear-gradient(to bottom, rgb(29, 29, 29), rgb(44, 44, 44));
}
main{
    height: 800px;
}
.row{
    margin: 0;
}
.mainSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainSectionVenditore{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.mainSectionVenditore h1{
    margin-top: 5%;
}
.separatore{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10px;
    background-color: rgb(34, 34, 34);
}
.aggiuntaProdotti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aggiuntaProdotti h1{
    margin-bottom: 10%;
}
.visualProdotti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.visualProdotti h1{
    margin-bottom: 10%;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
form *{
    margin: 10px;
}
form input{
    width: 100%;
}
.card{
    text-align: center;
}
.mainSectionAcquirente{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.mainSectionAcquirente h1{
    margin-top: 5%;
}
.tabellaProdotti div{
    margin-top: 1%;
    margin-bottom: 1%;
}
.tabellaFiltri div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.stileButton{
    all: unset;
    margin-top: 8%;
    cursor: pointer;
    box-shadow: 5px 5px 9px rgba(0,0,0,0.2);
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 1s ease, color 1s ease;
    font-family:'Franklin Gothic Medium';
    letter-spacing: 3px;
    animation: bounce 1s infinite;
}
.stileButton:hover {
    background-color: rgb(161, 161, 161);
    color: black;
}
.titoloLogin{
    font-size: 30px;
    font-family: monospace;
    --caratteri: 17;
    text-shadow: 1px 1px 2px black;
}
.titoloSignup{
    font-size: 30px;
    font-family: monospace;
    --caratteri: 19;
    text-shadow: 1px 1px 2px black;
}
.titoloVenditore{
    font-size: 30px;
    font-family: monospace;
    --caratteri: 19;
    text-shadow: 1px 1px 2px black;
}
.titoloAcquirente{
    font-size: 30px;
    font-family: monospace;
    --caratteri: 19;
    text-shadow: 1px 1px 2px black;
}
.titoloAmministratore{
    font-size: 30px;
    font-family: monospace;
    --caratteri: 19;
    text-shadow: 1px 1px 2px black;
}
.typingTesto{
    display: inline-block;
    max-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgb(0, 0, 0); /* cursore */
    font-family: monospace;
    font-size: 24px;
    animation: typing 2s steps(var(--caratteri)) forwards, blink 0.5s step-end infinite;
}
@keyframes typing {
    0%   { width: 0; }
    100% { width: calc(var(--caratteri) * 1ch); }
}

@keyframes blink {
    50% { border-color: transparent }
}
/* Effetto di salto per il button*/
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-20%);
    }
    80% {
        transform: translateY(-10%);
    }
}