/*Stili generali*/

body{
    margin: 0;
    padding: 0;
}

/*Stili sito*/

.headLine{
    display: flex;
    background-color: black;
    justify-content: center;
    width: 100%;
}
.stilePaNavbar{
    font-size: 40px;
}
.Pbg-darkGradient{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(29, 29, 29));
}
.colonneLaterali{
    background: linear-gradient(to bottom, rgb(29, 29, 29), rgb(44, 44, 44));
}
main{
    height: 800px;
}
.row{
    margin: 0;
}
.mainSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainSectionVenditore{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.mainSectionVenditore h1{
    margin-top: 5%;
}
.separatore{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10px;
    background-color: rgb(34, 34, 34);
}
.aggiuntaProdotti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aggiuntaProdotti h1{
    margin-bottom: 10%;
}
.visualProdotti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.visualProdotti h1{
    margin-bottom: 10%;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
form *{
    margin: 10px;
}
form input{
    width: 100%;
}
.card{
    text-align: center;
}
.mainSectionAcquirente{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.mainSectionAcquirente h1{
    margin-top: 5%;
}
.tabellaProdotti div{
    margin-top: 1%;
    margin-bottom: 1%;
}
.tabellaFiltri div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}